<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Persona</title>

  <link rel="stylesheet" href="static/styles.css?v=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div id="app" class="container">
    <div>
      <p>
        When the 5th digit is typed the lookupzip function is called
      </p>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="zip here" v-model="zipcode">
        <span class="city-span">{{city}}</span>
      </div>
			<div class="col-xs-12" style="height:50px;"></div>
    </div>
    <div>
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <div class="col-xs-8"><input type="text" class="form-control" placeholder="search for..." v-model="searchterm"></div>
						<div class="col-xs-2">
							<button type="submit" class="btn btn-default form-control">Submit</button>
						</div>
						<div class="col-xs-2">
							<select v-model="selected" class="form-control">
									<option v-for="letter in letters" v-bind:value="letter">
										{{ letter }}
									</option>
							</select>
						</div>
          </div>
        </div>
      </form>
			<div class="col-xs-12" style="height:50px;"></div>
      <table id="mainlist" class="table table-striped">
        <tbody>
          <tr>
            <th>First name</th>
            <th>Last name</th>
          </tr>
          <tr v-for="person in persons">
            <td>{{ person.firstname }}</td>
            <td>{{ person.lastname }}</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>
  <script src="https://unpkg.com/vue@2.2.3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        zipcode: '',
        city: '',
				searchterm: '',
				selected: 'one',
				letters: ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
        persons: [{'lastname':'meme', 'firstname':'johny'}, {'lastname':'joe', 'firstname':'bobby'}]
      },
      watch: {
        zipcode: function() {
          this.city = ''
          if(this.zipcode.length == 5) {
            this.lookupzip()
          }
        }
      },
      created: function () {
        window.addEventListener('scroll', this.handleScroll)
      },
      destroyed: function () {
        window.removeEventListener('scroll', this.handleScroll)
      },
      methods: {
        handleScroll: function () {
          this.scrollPos = document.body.scrollHeight - window.innerHeight - document.body.scrollTop;   
          if (document.body.scrollHeight - window.innerHeight - document.body.scrollTop == 0) {
            // load more data here...
          }
        },
        lookupzip: _.debounce(function() {
          var a = this; //app
          a.city = "Searching..."
          axios.get('http://ziptasticapi.com/' + a.zipcode)
            .then(function (response) {
              if ("city" in response.data) {
                a.city = response.data.city + ', ' + response.data.state
              } else {
                a.city = response.data.error  //typically this says "Not a valid Zip Code!"
              }
            })
            .catch(function (error) {
              a.city = "Invalid Zipcode"
            })
        }, 500)
      }
    })
  </script>
</body>
</html>

