<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Persona</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/styles.css?v=1.0">
</head>

<body>
  <div id="app" class="container">
    <div id="modalmount">
      <modal :shown="modalShown" @closed="modalShown = false">
        <p>Hello! {{ modalCounter }} seconds since the conter has started.</p>
        <p><button @click="modalShown = false">Close the modal</button></p>
      </modal>

      <div class="col-xs-12" style="height:20px;"></div>
      <span v-cloak v-if="personadebug" class="app-status">{{appstatus}}</span>
      <form class="form-inline">
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" v-model="selected" v-on:click="jumpto">
          <option selected>Jump...</option>
          <option v-for="letter in letters" v-bind:value="letter">
            {{ letter }}
          </option>
        </select>
        <div id="searchgroup" class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text"  class="form-control" placeholder="Search for..." v-model="searchterm" @keyup.enter="search"/>
          <a class="btn btn-secondary" href="#">
            <i class="fa fa-search" aria-hidden="true" v-on:click="search"></i></a>
        </div>
        <a id="add" class="btn btn-secondary">
          <i class="fa fa-plus-square" aria-hidden="true" @click="modalChild"></i></a>
        <a class="btn btn-secondary">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a class="btn btn-secondary">
          <i class="fa fa-window-close" aria-hidden="true"></i></a>
        <a class="btn btn-secondary">
          <i class="fa fa-cog" aria-hidden="true"></i></a>
        <a class="btn btn-secondary" v-on:click="info">
          <i class="fa fa-info" aria-hidden="true"></i></a>
      </form>

      <div class="col-xs-12" style="height:20px;"></div>
      <table id="mainlist" class="table table-striped table-hover">
        <thead class="thead-inverse">
          <tr v-if="persons.length>0">
            <th>Last name</th>
            <th>First name</th>
            <th>Date of birth</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="person in persons" v-bind:id="person.id" v-on:dblclick="editrow($event)">
            <td>{{ person.lastname }}</td>
            <td>{{ person.firstname }}</td>
            <td>{{ person.dateofbirth.substring(0,10) }}</td>
            <td>{{ person.zipcode }}</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>

  <script src="https://unpkg.com/vue@2.2.3"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <script>
    var modal = {
      props: {
        shown: { type: Boolean, required: true },
      },
      template: `
        <div id="modalid" class="c-Modal-Holder">
          <div class="c-Modal-Shade" v-if="shown" transition  @click.self="$emit('closed')">
          <div class="c-Modal-Container">
            <slot></slot>
          </div>
          </div>
        </div>
      `,
      mounted: function() {
        //document.getElementById('modalmount').appendChild(this.$el)
      },
    };

    var app = new Vue({
      el: '#app',
      components: { modal: modal },
      data: function() {
        return {
          modalShown: false,
          modalCounter: 0,
          personadebug: false,
          api: '',
          zipcode: '',
          city: '',
          appstatus: 'ok',
          searchterm: '',
          selected: '',
          letters: ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
          persons: []
        }
      },
      watch: {
        zipcode: function() {
          this.city = ''
          if(this.zipcode.length == 5) {
            this.lookupzip()
          }
        }
      },
      created: function () {
        api = 'http://' + window.location.host + '/api/'
        //window.addEventListener('scroll', this.handleScroll)
        this.fetchpersons()
      },
      mounted: function() {
            setInterval(function() {
            this.modalCounter += 1;
        }.bind(this), 1000);
        //document.getElementById('modalmount').appendChild(this.$el)
      },
      destroyed: function () {
        //window.removeEventListener('scroll', this.handleScroll)
      },
      methods: {
        modalClosed: function() {
          modalShown = false
          console.log('modal closed')
        },
        modalChild: function() {
          this.modalCounter = 0;
          //document.getElementById('modalmount').appendChild(document.getElementById('modalid'))
          this.modalShown = true
        },
        jumpto: function() {
          window.alert("jumping to " + this.selected)
        },
        search: function() {
          window.alert("searching for: " + this.searchterm)
        },
        editrow: function(e) {
          window.alert("edit row")
          //e.currentTarget.contentEditable = true  //not going to work
        },
        info: function(e) {
          //temporarily using this as manual refresh
          this.fetchpersons()
        },
        handleScroll: function () {
          this.scrollPos = document.body.scrollHeight - window.innerHeight - document.body.scrollTop;   
          if (document.body.scrollHeight - window.innerHeight - document.body.scrollTop == 0) {
            // load more data here...
          }
        },
        fetchpersons: function() {
          var a = this; //app
          u = api + 'persons'
          a.appstatus = "REST:" + u
          axios.get(u)
            .then(function (response) {
              console.log(response)
              a.persons = response.data
              if (a.persons.length > 0) {
              }
              //response.data.error  //error code here tbd
            })
            .catch(function (error) {
              a.searchterm = "Invalid Data"
            })
        }, 
      }
    })
  </script>
</body>
</html>

