.form-inline a {                                                                
    margin-left: 5px;                                                           
}                                                                               
.form-inline a#add {                                                            
    margin-left: 20px;                                                          
}                                                                               
#searchgroup {                                                                  
    margin-left: 20px;                                                          
}                                                                               
[v-cloak] {
    display: none;
}

